@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SUIT-Regular4';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Regular', sans-serif;
}

.blog-post {
  h1 {
    @apply text-[36px] font-bold py-6;
  }

  h2 {
    @apply text-[28px] font-bold py-4;
    a {
      @apply no-underline text-black dark:text-white;
    }
  }

  h3 {
    @apply text-[20px] font-bold py-3;
  }

  ol {
    @apply list-decimal ml-4;
  }

  ul {
    @apply list-disc ml-4;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  li {
    @apply py-2;
  }

  a {
    @apply text-light-primary dark:text-dark-primary underline;
  }

  blockquote {
    @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800;
    p {
      @apply pb-0;
    }
  }

  strong {
    @apply font-bold;
  }

  code {
    @apply text-[13px] rounded-md;
  }
}

input:checked ~ .dot {
  transform: translateX(140%);
}
